body{
  background-color: #ffe2e2;
  border: 100px;
  background-image: image();
}
hr{
  background-color: #ffe2e2;
  border-style: none;
  border-top-style: dotted;

  border-color: #1b1e23;
  border-width: 5px;
  width: 8%;

}
a:hover{
  background-color: skyblue;
  cursor: cell;
  clip: auto;

}
h1,h3{
  font-family: cursive;
}
