/**************************************TAG SELECTOR********************************/

h1{
  color: red;
  }
p{
  font-size: 20px;
  font-family: cursive;
}
img:hover{
  background-color:yellow;
}


/**************************************CLASS SELECTOR********************************/
.bacon{
  background-color: green;
  border-radius: 100%;
}
.broccoli{
  background-color: red;
}
.paragraph{
  font-family: sans-serif;
}

.broccoli:hover{
  border-radius: 30%;
}

/**************************************ID SELECTOR********************************/
#heading{
  font-family: cursive;
}
